body{
    margin: 0px;
}

div.top-left{
    margin: 0 20px 0 0;
}

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 10px;
    height: 50px;
    margin: 0 auto;
  }
  
  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }

  .top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
    position: relative;
    bottom: 15px;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0px 10px;
  }

  .acronym {
    position: relative;
    top: 5px;
  }

  .heart {
    position: relative;
    top: 5px;
  }

  header{
      background-color: rgb(32, 101, 136);
  }

  .top-nav{
    height: 150px;
  }

  header img{
      padding: 10px;
      width: 150px;
      
  }

  header input {
      background-color: rgb(32, 101, 136);
      background-color: rgb(31, 82, 111);
      border-color: azure;
      position: relative;
      bottom: 38px;
      height: 45px;
      min-width: 500px;
      width: 900px;
      border: 0px;
  }

  header button.finder{
      background-color: rgb(31, 82, 111);
      position: relative;
      padding: 0px 10px 0px;
      border: 0px;
      height: 47px;
      bottom: 38px;
  }

  header ul.header-sign-up{
    list-style: none;
    display: inline; 
    position: relative;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }

  .header-sign-up li {
    display: inline;
    color: #fff;
  }

  .header-sign-up a {
    color: #fff;
    position: relative; 
    bottom: 30px;
  }

  header ul img{
    padding: 10px;
    width: 50px;
    position: relative; 
    bottom: 3px;
  }

  .bttn-sign-up li {
    position: relative; 
    bottom: 30px;
    color: #fff;
  }


  .header-img{
    height: 300px;
    width: 100%;
    position: relative;
    color: #fff;
    background: url("./images/city-scape.svg");
    background-size: cover;
  }

.header-text{
    height: 300px;
    width: 700px;
    position: relative;
    color: #fff;
    left: 150px;
  }

  .header-text h3{
    font-size: 60px;
    margin: 50px 50px 0px 10px;
    padding: 30px 0px 0px 0px;
  }

  .header-text p{
    font-size: 20px;
    margin: 1px 40px 60px 10px;
  }

  .header-text img{
    float:right;
    width: 1000px;
  }

  .header-text button{
    background-color: rgb(240, 146, 51);
    margin: 5px 10px 40px 10px;
    height: 40px;
    width: 200px;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 0px;
    color: #fff;
    font-weight: bold; 
    font-size: 110%;
    position: relative;
    bottom: 35px;
  }
/* First of the page. Since here, we start with sections. Below the first section. */

.friends{
  background-color: rgb(39, 53, 71);
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.section-one-img{
  position: relative;
  width: 500px;
  float: left; 
  left: 100px; 
  top: 40px; 
}

.section-one-text{
  position: relative;
  width: 50%;
  float: right;
  left: 150px;
  top: 0px; 
  color: #fff; 
}

.section-one-text h3{
font-size: 30px; 
width: 300px;
padding: 0px 0px 0px 0px; 
}

.section-one-text ul{
  font-size: 17px; 
  width: 300px;
  padding: 0px 0px 0px 0px; 
  position: relative;
  left: 50px; 
  }

  .button-orgs{
    background-color: rgb(203, 56, 55);
    margin: 30px 10px 0px 10px;
    height: 40px;
    width: 200px;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 0px;
    color: #fff;
    font-weight: bold; 
    font-size: 110%;
    position: relative;
    bottom: 35px;
  }

  .section-one-text p{
    color: #fff;
    position: relative;
    bottom: 20px;
    left: 50px; 
  }

  .section-one-text a{
    color: #fff;
  }

  /* Below the second section */

  .what-npm{
    background: url("./images/forklift.svg");
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  .what-npm h3{
    position: relative; 
    margin: 0%;
    top: 120px; 
    left: 150px; 
    color: #fff; 
    font-size: 30px;  
  }

  .what-npm p{
    position: relative; 
    width: 400px;
    top: 120px; 
    left: 150px; 
    color: #fff; 
    font-size: 22px;  
  }

  .button-npm{
    position: relative; 
    top: 120px; 
    left: 150px;
    height: 40px;
    width: 200px;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 0px;
    color: #fff;
    background-color: rgb(49, 68, 88);
    font-weight: bold; 
    font-size: 110%;
    position: relative;
    bottom: 35px;
  }

    /* Below the third section */

.what-make{
  width: 700px;
  height: 400px;
}

.first-div{
  position: relative; 
  width: 700px;
  height: 40px;
  top: 50px; 
}

.first-div h3{
  color: rgb(83, 88, 98);
  position: relative;
  width: 700px;
  height: 40px;
  bottom: 10px;
  left: 50px; 
}

.first-div p{
  color: rgb(135, 145, 156);
  position: relative; 
  width: 800px;
  height: 40px;
  left: 32px; 
}

.second-div{
  display: inline-block;
  position: relative; 
  width: 1000px;
  height: 40px;
  top: 100px;
  left: 10px;
}

#first{
  width: 300px;
  height: 200px;
  float: left; 
  left: 100px;
}

#first img{
  position: relative;
  left: 75px; 
}

#first h4{
  position: relative;
  text-align: center;
}

#second{
  width: 300px;
  height: 200px;
  float: center;
  left: 100px; 
}

#second img{
  position: relative;
  left: 75px; 
}

#second h4{
  position: relative;
  text-align: center;
}

#second a{
  color: rgb(208, 74, 73);
}

#third{
  width: 300px;
  height: 200px;
  float: right; 
}

#third img{
  position: relative;
  left: 75px; 
}

#third h4{
  position: relative;
  text-align: center;
}